VITE_SUPABASE_URL=https://cnzxqjfroupwotzdqelh.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNuenhxamZyb3Vwd290emRxZWxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExMDkwMDYsImV4cCI6MjA5NjY4NTAwNn0.lvT8FmqeHhfiFF32Feaj4HemEJ0d_MHwQBGcQZrDyzw
