DATABASE_URL=postgresql://postgres:ammara123@AbA@db.cnzxqjfroupwotzdqelh.supabase.co:5432/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:ammara123@AbA@db.cnzxqjfroupwotzdqelh.supabase.co:5432/postgres
SUPABASE_URL=https://cnzxqjfroupwotzdqelh.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNuenhxamZyb3Vwd290emRxZWxoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTEwOTAwNiwiZXhwIjoyMDk2Njg1MDA2fQ.ALrLjoECrCFXUvMQvyrukIivTmclvt8faOp5sQDFE0w
PORT=3001
CLIENT_URL=http://localhost:5173
NODE_ENV=development
